<h1>Posts</h1>
<div class='new'>
  <form method="post" action="/posts">
    <input type="text" name="title" placeholder="Post Title"> <br>
    <textarea name="body"></textarea>
    <button type="submit">Create New Post</button>
  </form>
</div>
{{#each posts}}
   <div>
     <form method="post" action="/posts/{{this.id}}?_method=delete">
       <button type="submit">Delete Post</button> 
     </form>
     <h3>{{this.title}}</h3>
     <p>{{this.body}}</p>
   </div>
{{/each}}